.contact{
    position: relative;
    top: 15rem;
     margin-top: 20rem; 
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15rem;
}
.contact h1{
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: bolder;
    color: red;
    text-shadow: 2px 1px 3px black;    
}
.contact form input{
    padding: 10px;
    margin: 10px auto;
}
.contact button{
    margin: 1rem 0;
    font-weight: 500;
}
.contact button:hover{
    background-color: white;
    color: red;
}