.live-auctions .card{
    border: 1px solid #ddd;
    
    padding: 0.5rem;
    width: 18rem;
    height:35rem;
    margin: 1rem 1rem;
}
.live-auctions .card img{
    height:17rem;
}
.live-auctions ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.live-auctions ul li{
    list-style: none;
 
}
.live-auctions .list-group-item{
    display: flex;
    justify-content: space-between;
}
.live-auctions h1{
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: 600;
    color: red;
    text-shadow: 2px 1px 3px black;
}
.live-auctions{
    position: relative;
    top: 12rem;
}
.live-auctions img{
    border-radius: 15px;
}
.live-auctions button{
    margin:1rem 0;
}


/* Bid now */
.bid-input-box{
    position: absolute;
    top:5rem;
 left: 0.1rem;
    background-color: #fcecec;
    padding: 1rem;
    border: 1px solid gold;
    border-radius: 1rem;
}
.bid-input-box input{
    border-radius: 0.5rem;
    margin: 1rem auto;
}
.bid-input-box button{
    border-radius: 0.2rem;
    background-color: red;
    color: white;
    border:1px solid transparent;
}
.bid-input-box button:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}